{% extends "base.html" %}
{% block title %}Trading SCRIPT{% endblock %}
      {% block central %}
    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Webhooks settings</h2>
          <p class="separator">Your webhooks should be in this format:</p>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">


          <div class="container">
            <div class="feature-block">
              <img src="static/assets/img/code.svg" alt="img" class="img-fluid">
              <p>Webhooks should be sent directly on
                  /webhook</p>

              <img src="static/assets/img/webhook.jpg" alt="img" class="rounded mx-auto d-block">
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->
 {% endblock %}